Hipe/build
Data/Images/Plaques/*
Diffteo/Native/smartIdPlate/Debug/*
*.suo
*.user
*.filters
*.tlog
*.obj
*.o
*.log
*.exe
*.ilk
*.pdb
*.dll
*.lib
*.idb
*.sdf
*.zip
Hipe/header/filter/References.h
Simple-Web-Server-master/*
*.opensdf
