Hipe/build
Data/Images/Plaques/*
Diffteo/Native/smartIdPlate/Debug/*
*.suo
*.user
*.filters
*.tlog
*.obj
*.o
*.log
*.exe
*.ilk
*.pdb
*.dll
*.lib
*.idb
*.sdf
*.zip
*.orig
Hipe/header/filter/References.h
Simple-Web-Server-master/*
*.opensdf
Hipe/source/header/filter/References.h
Hipe/header/filter/References.h.cmp
/Hipe/modules/build/ALL_BUILD.vcxproj
/Hipe/modules/build/*
/Hipe/modules/header/.cmp
Hipe/modules/header/filter/References.h.cmp
Hipe/modules/header/filter/References.h
/Hipe/module/build/CMakeCache.txt
/Hipe/module/build/**
Hipe/tests/data/scriptPython/testhipe.pyc
**/*.pyc
3rdParty/**
install/**
source-core/build/*
source-modules/build/*
source-modules/header/filter/References.h
source-modules/header/filter/References.h.cmp
webserver/webserver-hipe/obj/*
workingdir/root/Data-light/*
/webserver/node_modules/*
/webserver/obj/*
