<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hipe</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cytoscape.js-panzoom.css">

    <script src="/js/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/cytoscape.js"></script>
    <script src="/js/dagre.js"></script>
    <script src="/js/klay.js"></script>
    <script src="/js/cytoscape-dagre.js"></script>
    <script src="/js/cytoscape-klay.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/cytoscape-edgehandles.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/graph.js"></script>
    <script src="/js/importSystem.js"></script>
    <script src="/js/datasSystem.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/cytoscape-panzoom.js"></script>


</head>

<body>


<div id="modelObj"
     data="<% if(typeof model !== 'undefined'){ %> <%- JSON.stringify(model).replace(/"/g, "&quot;"); %> <% } %>"></div>

<!--Basic style-->
<section class="basic-style" id="svgContainer">
    <div class="col-lg-12 always-follow">
        <ul id="menuGraph" class="nav nav-pills">
            <li class="presentation">
                <a href="/models" id="backBtn">
                    <img src="../images/home.png" id="imgMenu" width="60px" height="60px"/>
                    HOME
                </a>
            </li>
            <li class="active presentation">
                <a href="#algo" id="backBtn" data-toggle="tab">
                    <img id="imgMenu" src="../images/graph.png" width="60px" height="60px"/>
                    COMPOSER
                </a>
            </li>
            <li class="presentation">
                <a href="#data" id="backBtn" data-toggle="tab">
                    <img id="imgMenu" src="../images/data.png" width="60px" height="60px"/>
                    INPUT
                </a>
            </li>
            <li class="presentation">
                <a href="/parameters" id="backBtn">
                    <img src="../images/options.png" id="imgMenu" width="60px" height="60px"/>
                    OPTIONS
                </a>
            </li>

        </ul>
        <ul id="command" class="nav nav-pills" >
            <li role="presentation">
                <li><a href="javascript:void(0)"  class="btn btn-primary" id="sendToServerBtn" onclick="sendDataToServer()">Execute</a></li>
            </li>
        </ul>
    </div>
    <div class="panel-body" style="display: none;"></div>
    <div class="tab-content clearfix" style="padding-top: 130px;">
        <div class="tab-pane active" id="algo">

            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-2">
                        <div class="panel panel-default" id="panelFilter" style="overflow-y: hidden;">
                            <div class="panel-heading" id="panelHeadingFilter">
                                <i class="fa fa-bell fa-fw"></i> Filters Panel
                            </div>
                            <div style="z-index: 901;background-color: white;" id="panelSearchFilter">
                                <input type="text" style="border-radius: 0px;" class="form-control" id="searchFilter" placeholder="Filtre"/>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" id="panelBodyFilter" style="overflow-y: scroll;">

                                <div class="list-group" id="filtersType">

                                </div>
                                <!-- /.list-group -->
                                <!--<a data-toggle="modal" data-target="#myModal" class="btn btn-default btn-block">Add New
                                    Item</a>-->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-8">

                                <div class="panel panel-primary boardpanel">
                                    <div class="panel-heading">
                                        Board Panel
                                    </div>
                                    <div class="panel-body" id="board" style="height: 600px;">
                                    </div>


                                </div>

                            </div>

                            <div class="col-lg-4">
                                <div class="panel panel-primary boardpanel">
                                    <div class="panel-heading">
                                        Option Panel
                                    </div>
                                    <div class="panel-body">
                                        <div id="options">

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-warning boardpanel" style="display: none;" id="error_server_container">
                                    <div class="panel-heading">
                                        Erreur serveur

                                        <div style="float: right">
                                            <a href="#" onclick="$('#error_server_container').css('display', 'none')">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <textarea id="error_server" class="form-control" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="panel panel-success boardpanel" style="display: none;" id="success_server_container">
                                    <div class="panel-heading">
                                        Réponse serveur
                                        <div style="float: right">
                                            <a href="#" onclick="$('#success_server_container').css('display', 'none')">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <textarea id="success_server" class="form-control" rows="10"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="tab-pane" id="data">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Data Configuration
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="configuration" style="display: none;">
                        </div>

                        <div id="dataBody">
                        </div>

                        <button type="button" class="btn btn-success" id="addConfirmedBtn">Confirmer</button>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">


                <div class="panel panel-default boardpanel" id="panelAction">
                    <div class="panel-heading">
                        Action
                    </div>
                    <div class="panel-body" id="">

                        <p>
                            <label>Graphic Name</label>
                            <input type="text" placeholder="Name" class="form-control" id="graphicName"
                                   disabled/>
                        </p>

                        <p>
                            <label>Orchestrator</label>
                            <input type="text" placeholder="Orchestrator" class="form-control" id="orchestrator"
                                   value="DefaultScheduler"/>
                        </p>

                        <div>
                            <a onclick="saveModel(this)" class="btn btn-primary" id="saveModel">Sauvegarder modele</a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-10">

                <div class="panel panel-default boardpanel">
                    <div class="panel-heading">
                        Json
                    </div>
                    <div class="panel-body" id="">
                        <div style="float:right" id="buttonDetail">
                            <a onclick="showDetail()" class="btn btn-warning">Generate JSON</a>
                        </div>

                        <div class="showDetails" style="float:left;margin: 0 10px;" id="buttonRegenerate">
                            <a onclick="regenerateGraph()" class="btn btn-warning">Regenerate JSON</a>
                        </div>

                        <div id="detailsDiv" class="showDetails" style="margin-top: 55px;">
                            <textarea id="details" class="form-control" rows="20"></textarea>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

<div class="modal" id="confirmedDeleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Etes-vous sûr de vouloir supprimer cette élément ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmedDeleteBtn">Confirmer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="datasModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestion des données</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dataBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addConfirmedBtn">Confirmer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="resultData">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resultat du serveur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="resultDataBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmQuit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Êtes-vous sûr de quitter cette page ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de quitter cette page sans sauvegarder vos modifications. <br/>
                Voulez-vous sauvegarder avant de quitter cette page ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addConfirmedSave">Oui</button>
                <button type="button" class="btn btn-secondary" id="addNonConfirmedSave">Non</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>