<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Hipe</title>
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/css/solarized.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cytoscape.js-panzoom.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/resizable.css">
    <link rel="stylesheet" href="/css/draggable.css">


    <script src="/js/draggable.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/cytoscape.js"></script>
    <script src="/js/dagre.js"></script>
    <script src="/js/klay.js"></script>
    <script src="/js/cytoscape-dagre.js"></script>
    <script src="/js/cytoscape-klay.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/cytoscape-edgehandles.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/python.js"></script>
    <script src="/js/webrtc-mon.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/graph.js"></script>
    <script src="/js/importSystem.js"></script>
    <script src="/js/datasSystem.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/cytoscape-panzoom.js"></script>
    <script src="/js/jquery.menu.js"></script>



</head>

<body>


    <div id="modelObj"
         data="<% if(typeof model !== 'undefined'){ %> <%- JSON.stringify(model).replace(/"/g, "&quot;"); %> <% } %>"></div>

    <!--Basic style-->
    <section class="basic-style" id="svgContainer">
        <div id="menu-header" class="col-lg-12 always-follow">
            <div id="menuGraph">
                <ul class="main-menu">
                    <li>
                        Projects
                        <ul>
                            <li>
                                New
                                <ul>
                                    <li><a href="javascript:void(0)" onclick="addModelModal();" >Graph</a></li>
                                    <li class="separator"></li>
                                    <li><a href="javascript:void(0)">Temporary Module</a></li>
                                </ul>
                            </li>
                            <li class="separator"></li>
                            <li class="icon open"><a href=" href="/models" >Open graph<span>Ctrl+O</span></a></li>
                            <li class="separator"></li>
                            <li class="icon save"><a href="javascript:void(0)" onclick="saveModel(this);">Save<span>Ctrl+S</span></a></li>
                            <li class="separator"></li>
                            <li class="disabled"><a href="/#!/import">Import</a></li>
                            <li class="icon export"><a href="javascript:void(0)""  onclick="showJson();">Export</a></li>
                            <li class="separator"></li>
                            <li>Logout</li>
                        </ul>
                    </li>
                    <li>
                        Actions
                        <ul id="SaSCommand"></ul>
                    </li>
                    <li>
                        View
                        <ul>
                            <li><a href="javascript:void(0)">Monitor</a></li>
                            <li class="separator"></li>
                            <li><a href="javascript:void(0)">Log</a></li>
                            <li><a href="javascript:void(0)">Json</a></li>
                        </ul>
                    </li>
                    <li>
                        Settings
                        <ul>
                            <li><a href="/parameters">Service Connection...</a></li>
                        </ul>
                    </li>
                    <li>
                        Help
                        <ul>
                            <li><a id="linkDemo" target="_blank">Demos</a></li>
                            <li><a href="https://www.aneo.eu/hipe" target="_blank">Service Connection...</a></li>
                            <li class="separator"></li>
                            <li>Contact us</li>
                        </ul>
                    </li>
                </ul><!-- end mainmenu -->
            </div>
        </div>
        <div id="menu-toolbar" class="col-lg-12">
            <a class="ltooltip" href="javascript:void(0);" onclick="addModelModal();">
                <img  class="shortCutImg" src="../images/shortcut/new.png" id="imgMenu"/>
                <span class="tooltiptext">Create new graph</span>
            </a>
            <a class="ltooltip" href="/models">
                <img  class="shortCutImg" src="../images/shortcut/open.png" id="imgMenu"/>
                <span class="tooltiptext">Open graph</span>
            </a>
            <a class="ltooltip" href="javascript:void(0)" onclick="saveModel(this);">
                <img  class="shortCutImg" src="../images/shortcut/save.png" id="imgMenu"/>
                <span class="tooltiptext">Save graph</span>
            </a>
            <a class="ltooltip" href="javascript:void(0);" onclick="sendDataToServer();">
                <img class="shortCutImg" src="../images/shortcut/play.png" id="imgMenu"/>
                <span class="tooltiptext">Execute graph (Ctrl+e)</span>
            </a>
            <a class="ltooltip" href="javascript:void(0)" onclick="sendCommand('Kill');">
                <img  class="shortCutImg" src="../images/shortcut/stop.png" id="imgMenu"/>
                <span class="tooltiptext">Stop execution</span>
            </a>
            <a class="ltooltip" href="javascript:void(0)" onclick="sendCommand('Resend');">
                <img  class="shortCutImg" src="../images/shortcut/refresh.png" id="imgMenu"/>
                <span class="tooltiptext">Udapte execution</span>
            </a>
            <a class="ltooltip" onclick="showMonitor();">
                <img  class="shortCutImg" src="../images/shortcut/monitor.png" id="imgMenu"/>
                <span class="tooltiptext">Show webrtc video</span>
            </a>
            <a class="ltooltip" onclick="showLog();">
                <img  class="shortCutImg" src="../images/shortcut/log.png" id="imgMenu"/>
                <span class="tooltiptext">Show log execution</span>
            </a>
            <a class="ltooltip" onclick="showJson();">
                <img  class="shortCutImg" src="../images/shortcut/json.png" id="imgMenu"/>
                <span class="tooltiptext">Generate Json graph</span>
            </a>
        </div>

        <div class="panel-body" style="display: none;"></div>
        <div class="tab-content clearfix" style="padding-top: 2px; height: 100%; ">
            <div class="tab-pane active" id="algo">

                <div class="col-lg-12">
                    <div class="row">
                        <div id="panelFilterTop" class="col-lg-2" style="padding: 0px 3px 0px 5px;">
                            <div id="panelFilter" class="panel panel-default">
                                <div class="panel-heading" id="panelHeadingFilter">
                                    <i class="fa fa-bell fa-fw"></i> Filters Panel
                                </div>
                                <div style="z-index: 901;background-color: white;" id="panelSearchFilter">
                                    <input type="text" style="border-radius: 0px;" class="form-control" id="searchFilter" placeholder="Search..." />
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body" id="panelBodyFilter">

                                    <div class="list-group" id="filtersType">

                                    </div>
                                    <!-- /.list-group -->
                                    <!--<a data-toggle="modal" data-target="#myModal" class="btn btn-default btn-block">Add New
                                    Item</a>-->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div id="bodyBoard" class="col-lg-12" style="padding: 0px;" tabindex="100">
                                    <div class="nodeToolbar">
                                        <a id="trashBtn"><img src="../images/shortcut/trash.png" id="imgMenu" width="32px" height="32px" /></a>
                                    </div>
                                    <div class="panel panel-primary boardpanel">
                                        <div class="panel-heading">
                                            Board Panel
                                        </div>
                                        <div class="panel-body" id="board" >
                                        </div>


                                    </div>

                                </div>

                                <div id="optionspanel" class="col-lg-3" style="position: absolute; top:60px; right: 0px; z-index:10;">
                                    <div class="panel panel-primary optionspanel">
                                        <div class="panel-heading">
                                            Option Panel
                                        </div>
                                        <div class="panel-body" id="options">

                                        </div>
                                    </div>
                                    <div class="panel panel-warning boardpanel" style="display: none;" id="error_server_container">
                                        <div class="panel-heading">
                                            Erreur serveur

                                            <div style="float: right">
                                                <a href="#" onclick="$('#error_server_container').css('display', 'none');$('#bodyBoard').focus();">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <textarea id="error_server" class="form-control" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="panel panel-success boardpanel" style="display: none;" id="success_server_container">
                                        <div class="panel-heading">
                                            Réponse serveur
                                            <div style="float: right">
                                                <a href="#" onclick="$('#success_server_container').css('display', 'none')">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <textarea id="success_server" class="form-control" rows="10"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div id="Monitor" class="col-lg-6" style="position: absolute; top:0px; z-index:10">
                                    <button type="button" class="close" aria-label="Close" style="position: absolute; right: 15px; color: white; opacity: 0.9; line-height: 40px;"
                                            onclick="$('#Monitor').css('display', 'none');$('#bodyBoard').focus();">
                                        <span aria-hidden="true" style="font-size: 32px; opacity: 1; color: white; overflow: hidden;">&times;</span>
                                    </button>
                                    <div class="panel panel-primary monitorpanel">
                                        <div class="panel-heading" id="Monitor-header">
                                            Monitor Panel
                                        </div>

                                        <div class="panel-body" id="Monitor-area">
                                            <div id="sourceVideos" class="col-lg-6 videosDiv"><h3>Video sources</h3></div>
                                            <div id="remoteVideos" class="col-lg-6 videosDiv"><h3>Video received</h3></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Log" class="col-lg-6" style="position: absolute; top:0px; right: 0px; z-index:10">
                                    <button type="button" class="close" aria-label="Close" style="position: absolute; right: 15px;color: white; opacity: 0.9; line-height: 40px;"
                                            onclick="$('#Log').css('visibility', 'hidden');$('#bodyBoard').focus();">
                                        <span aria-hidden="true" style="font-size: 32px; opacity: 1; color: white; overflow: hidden;">&times;</span>
                                    </button>
                                    <div class="panel panel-primary Logpanel">
                                        <div class="panel-heading" id="Log-header">
                                            Log Panel
                                        </div>

                                        <div class="panel-body" id="Log-area">
                                            <textarea id="logArea">Start to get log from HIPE service</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="Editor" class="col-lg-8" style="position: absolute; top:0px; visibility: hidden; z-index:10">
                                    <div class="panel panel-primary Editorpanel">
                                        <div class="panel-heading" id="Editor-header">
                                            <button type="button" class="close" aria-label="Close" style="position: absolute; right: 15px;color: white; opacity: 0.9; line-height: 20px;"
                                                    onclick="closeEditor();">
                                                <span aria-hidden="true" style="font-size: 32px; opacity: 1; color: white; overflow: hidden;">&times;</span>
                                            </button>
                                            Editor Panel
                                        </div>
                                        <div class="panel-body" id="Editor-area">
                                            <div class="saveCode" style="float:left;margin: 0 10px;" id="buttonSaveCode">
                                                <a onclick="saveCode()" class="btn btn-warning">Save code</a>
                                            </div>
                                            <textarea id="codeArea" type="text/x-python">#Your codes will be here! </textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tab-pane" id="data">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Data Configuration
                        </div>
                        <div class="panel-body">
                            <div id="configuration" style="display: none;">
                            </div>

                            <div id="dataBody">
                            </div>

                            <button type="button" class="btn btn-success" id="addConfirmedBtn">Confirmer</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12" style="position:absolute; top:0px; padding-top: 60px; visibility: hidden;">
            <div class="row">
                <div class="col-lg-2">


                    <div class="panel panel-default boardpanel" id="panelAction">
                        <div class="panel-heading">
                            Action
                        </div>
                        <div class="panel-body" id="">

                            <p>
                                <label>Graphic Name</label>
                                <input type="text" placeholder="Name" class="form-control" id="graphicName"
                                       disabled />
                            </p>

                            <p>
                                <label>Orchestrator</label>
                                <input type="text" placeholder="Orchestrator" class="form-control" id="orchestrator"
                                       value="DefaultScheduler" />
                            </p>

                            <div>
                                <a onclick="saveModel(this)" class="btn btn-primary" id="saveModel">Sauvegarder modele</a>
                            </div>


                        </div>
                    </div>
                </div>
                <div id="Json" class="col-lg-8">
                    <button type="button" class="close" aria-label="Close" style="position: absolute; right: 15px;color: white; opacity: 0.9; line-height: 40px;"
                            onclick="$('#Json').css('visibility', 'hidden');$('#bodyBoard').focus();">
                        <span aria-hidden="true" style="font-size: 32px; opacity: 1; color: white; overflow: hidden;">&times;</span>
                    </button>
                    <div class="panel panel-default boardpanel Jsonpanel">
                        <div id="Json-header" class="panel-heading">
                            Json
                        </div>
                        <div id="Json-area" class="panel-body" id="">
                            <div style="float:right" id="buttonDetail">
                                <a onclick="showDetail()" class="btn btn-warning">Generate JSON</a>
                            </div>

                            <div class="showDetails" style="float:left;margin: 0 10px;" id="buttonRegenerate">
                                <a onclick="regenerateGraph()" class="btn btn-warning">Regenerate JSON</a>
                            </div>

                            <div id="detailsDiv" class="showDetails" style="margin-top: 55px;">
                                <textarea id="details" class="form-control" rows="20"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <div class="modal" id="confirmedDeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer cette élément ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmedDeleteBtn">Confirmer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="datasModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Gestion des données</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="dataBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="addConfirmedBtn">Confirmer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="resultData">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Resultat du serveur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="resultDataBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirmQuit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Êtes-vous sûr de quitter cette page ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Vous êtes sur le point de quitter cette page sans sauvegarder vos modifications. <br />
                    Voulez-vous sauvegarder avant de quitter cette page ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="addConfirmedSave">Oui</button>
                    <button type="button" class="btn btn-secondary" id="addNonConfirmedSave">Non</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="addModelModal">
        <div class="modal-dialog" role="document">
            <form class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajout d'un algorithme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <label>Graphic Name</label>
                        <input type="text" placeholder="Name" class="form-control" id="newGraphicName" required />
                    </p>

                    <!--<p>
                        <label class="btn btn-default">
                            Importer JSON <input id="importFile" type="file" style="display: none;">
                        </label>
                    </p>-->

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" id="confirmedAddBtn" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>