<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hipe</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="/js/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/main.js"></script>
    <script src="js/param.js"></script>

</head>

<body>

<div style="margin: 25px">
    <img class="img-responsive" id="img-responsive-logo" src="images/Logo-HIPE.png" alt="">
</div>

<div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="height:auto!important;">
                    <div style="text-align: center;"><h2>Welcome into the WebHIPE Model studio !</h2></div>
                    <div style="text-align: left; padding-top:15px; padding-bottom:10px;"><h4>Please inform the HIPE service address first</h4></div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="attr_server_url">Service url</span></label>
                            <input type="text" class="form-control" id="attr_server_url" placeholder="server url"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="attr_version">expected version</label>
                            <input type="text" class="form-control" id="attr_version" placeholder="expected version"
                                   disabled/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" id="validatedParam" class="btn btn-default"
                               style="margin-top: 10px;">Validation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>