<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hipe</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="/js/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/main.js"></script>
    <script src="js/param.js"></script>

</head>

<body>

<div>
    <img class="img-responsive" id="img-responsive-logo" src="images/logo_satelite.png" alt="">
</div>

<div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align: center;">Bienvenu sur l'outils de modélisation procedural de Hipe !</div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="attr_server_url">Url du serveur</label>
                            <input type="text" class="form-control" id="attr_server_url" placeholder="Url du serveur"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="attr_version">Version souhaité</label>
                            <input type="text" class="form-control" id="attr_version" placeholder="Version souhaité"
                                   disabled/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" id="validatedParam" class="btn btn-default"
                               style="margin-top: 10px;">Valider</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>